.main {
    margin-top: 50px;
}

.sidebar {
    position: relative;
}

.clickable {
    cursor: pointer;
}

.mainmenu {
    overflow: hidden;
}

.ui.segment.thin {
    padding-top: 10px;
    padding-bottom: 10px;
}