<div class="ui basic small visible modal">
    <i class="close icon"></i>
    <div class="ui icon header">
        <i class="icon" ng-class="icon"></i>
        {{title}}
    </div>
    <div class="content">
        <div ng-transclude></div>
    </div>
    <div class="actions">
        <div class="ui deny red inverted button">
            <i class="remove icon"></i>
            No
        </div>
        <div class="ui ok green inverted button">
            <i class="checkmark icon"></i>
            Yes
        </div>
    </div>
</div>