<div class="ui left icon input">
    <input type="text" ng-model="customerSearch"
           ng-change="getCustomers()"
           ng-model-options="{debounce: 250}"
           placeholder="Search users...">
    <i class="users icon"></i>
</div>

<table class="ui single line selectable table" ng-show="customers.length != 0">
    <thead>
    <tr>
        <th>Name</th>
        <th>ID</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="customer in customers" ng-click="gotoCustomer(customer.CustomerID)">
        <td>{{customer.CustomerName}}</td>
        <td>{{customer.CustomerID}}</td>
    </tr>
    </tbody>
</table>