<div class="ui two columns grid">
    <div class="row">
        <div class="column">
            <h1>Accounts</h1>

            <div class="ui active centered inline loader" ng-show="accounts.length == 0"></div>

            <table class="ui segment single line selectable table" ng-show="accounts.length != 0">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Balance</th>
                    <th>Currency</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="account in accounts" ng-click="gotoCustomer(customer.CustomerID)">
                    <td>{{account.AccountName}}</td>
                    <td>{{account.AccountTypeName}}</td>
                    <td>{{account.Balance | currency}}</td>
                    <td>{{account.Currency}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="column">
            <h1>User Settings</h1>
            <div class="ui segment">
                User setings here
            </div>
        </div>
    </div>
</div>
