<div class="ui category search">
    <div class="ui icon input" ng-class="{loading: searching}">
        <input class="prompt" type="text"
               ng-model="customerSearch"
               ng-change="getCustomers()"
               ng-model-options="{debounce: 250}"
               placeholder="Search customers...">
        <i class="search icon"></i>
    </div>
    <div class="results"></div>
</div>

<table class="ui single line unstackable selectable clickable table" ng-show="customers">
    <thead>
    <tr>
        <th>Name</th>
        <th>ID</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="customer in customers" ng-click="gotoCustomer($index)">
        <td>{{customer.UserName}}</td>
        <td>{{customer.UserID}}</td>
    </tr>
    </tbody>
</table>