<div class="ui two column grid">
    <div class="ui column left floated">
        <div class="ui category search">
            <div class="ui icon input" ng-class="{loading: searching}">
                <input class="prompt" type="text"
                       ng-model="customerSearch"
                       ng-change="getCustomers()"
                       ng-model-options="{debounce: 250}"
                       placeholder="Search customers...">
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>
    </div>
    <div class="ui column right floated">
        <a class="ui labeled green right floated icon button" ng-click="showNewUserModal()">
            <i class="user icon"></i>
            Add New Customer
        </a>
    </div>
</div>

<table class="ui single line unstackable selectable clickable table" ng-show="customers">
    <thead>
    <tr>
        <th>Name</th>
        <th>ID</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="customer in customers" ng-click="gotoCustomer($index)">
        <td>{{customer.UserName}}</td>
        <td>{{customer.UserID}}</td>
    </tr>
    </tbody>
</table>

<modal title="Add New Customer" approve="newCustomer()" deny="" id="newUserModal" btn-ok="Add"
       template-url="./views/modals/basic.html">
    <form class="ui form" id="newUserForm" name="newUserForm" validation="editFormValidation" novalidate
          onsubmit="return false;">
        <div class="two fields">
            <div class="field">
                <label>Name</label>
                <input id="formNewName" type="text" name="name" ng-model="newForm.name" placeholder="Name...">
            </div>
            <div class="field">
                <label>CPR Number</label>
                <input id="formNewCPR" type="number" name="cpr" ng-model="newForm.cpr" placeholder="CPR...">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Address</label>
                <input id="formNewAddress" type="text" name="address" ng-model="newForm.address"
                       placeholder="Address...">
            </div>
            <div class="field">
                <label>Zip Code</label>
                <input id="formNewZip" type="number" name="zip" ng-model="newForm.zip" placeholder="Zip...">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Email</label>
                <input id="formNewEmail" type="email" name="email" ng-model="newForm.email" placeholder="Email...">
            </div>
            <div class="field">
                <label>Phone Number</label>
                <input id="formNewPhone" type="number" name="phone" ng-model="newForm.phone" placeholder="Phone...">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Password</label>
                <input id="formNewPassword" type="password" name="password" ng-model="newForm.password" placeholder="Password...">
            </div>
            <div class="field">
                <label>Repeat Password</label>
                <input id="formNewRepPassword" type="password" name="repPassword" ng-model="newForm.repPassword" placeholder="Repeat Password...">
            </div>
        </div>
    </form>
</modal>