<h2 class="ui header">
    <div class="content">{{account.AccountName}}</div>
</h2>
<div class="ui divider"></div>

<div class="ui two column stackable grid">
    <div class="column four wide sidebar">
        <div class="ui fluid vertical steps">
            <div class="link step" ng-class="isPage('history')" ng-click="gotoPage('history')">
                <i class="payment icon"></i>
                <div class="content">
                    <div class="title">History</div>
                    <div class="description">View transactions</div>
                </div>
            </div>
            <div class="link step" ng-class="isPage('transaction')" ng-click="gotoPage('transaction')">
                <i class="dollar icon"></i>
                <div class="content">
                    <div class="title">Transaction</div>
                    <div class="description">Start a new transaction</div>
                </div>
            </div>
        </div>
    </div>
    <div class="column twelve wide" ng-switch="page">
        <div ng-switch-when="history">
            <div ng-include="'./views/history.html'"></div>
        </div>
        <div ng-switch-when="transaction">
            <div ng-include="'./views/transaction.html'"></div>
        </div>
    </div>
</div>