<h1>{{hello}}</h1>
<div class="ui two column stackable grid">
    <div class="column four wide sidebar">
        <div class="ui vertical fluid menu">
            <a class="active teal item">
                Inbox
                <div class="ui teal pointing left label">1</div>
            </a>
            <a class="item">
                Spam
                <div class="ui label">51</div>
            </a>
            <a class="item">
                Updates
                <div class="ui label">1</div>
            </a>
            <div class="item">
                <div class="ui transparent icon input">
                    <input type="text" placeholder="Search mail...">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="column twelve wide">
        <table class="ui single line selectable table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Registration Date</th>
                <th>E-mail address</th>
                <th>Premium Plan</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>John Lilki</td>
                <td>September 14, 2013</td>
                <td>jhlilk22@yahoo.com</td>
                <td>No</td>
            </tr>
            <tr>
                <td>Jamie Harington</td>
                <td>January 11, 2014</td>
                <td>jamieharingonton@yahoo.com</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Jill Lewis</td>
                <td>May 11, 2014</td>
                <td>jilsewris22@yahoo.com</td>
                <td>Yes</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>