<h1>{{hello}}</h1>

<div class="ui two column stackable grid">
    <div class="column four wide sidebar">
        <div class="ui vertical fluid menu">
            <a class="item" ng-class="isPage('history')" ng-click="gotoPage('history')">
                History
            </a>
            <a class="item" ng-class="isPage('transaction')" ng-click="gotoPage('transaction')">
                New Transaction
            </a>
            <a class="item">
                Settings
            </a>
            <div class="item">
                <div class="ui transparent icon input">
                    <input type="text" placeholder="Search history...">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="column twelve wide" ng-switch="page">
        <div ng-switch-when="history">
            <div ng-include="'./views/history.html'"></div>
        </div>
        <div ng-switch-when="transaction">
            <div ng-include="'./views/transaction.html'"></div>
        </div>
    </div>
</div>