<h2>Accounts</h2>

<div class="ui active centered large inline loader" ng-show="!accounts"></div>

<div class="ui four cards stackable" ng-show="accounts">
    <div class="ui card" ng-repeat="account in accounts">
        <div class="content">
            <div class="header">
                {{account.AccountName}}
            </div>
            <div class="meta">
                {{account.AccountTypeName}}
            </div>
            <div class="description">
                {{account.Balance | currency : account.Currency}}
            </div>
        </div>
        <div class="extra content">
            <div class="ui two buttons">
                <a ng-click="gotoDetails(account)" class="ui basic green button">Manage</a>
            </div>
        </div>
    </div>

    <div class="ui card">
        <div class="content">
            <div class="header">
                New Account
            </div>
            <div class="description">
                Want to create a new account?
            </div>
        </div>
        <div class="extra content">
            <div class="ui two buttons">
                <a class="ui green button" href="#/new/account">New Account</a>
            </div>
        </div>
    </div>

</div>

<div class="ui section divider"></div>