<h2>Accounts</h2>

<div class="ui active centered large inline loader" ng-show="!accounts"></div>

<div class="ui four cards stackable" ng-show="accounts">
    <div class="ui card" ng-repeat="account in accounts">
        <div class="content">
            <div class="header">
                {{account.AccountName}}
            </div>
            <div class="meta">
                {{account.AccountTypeName}}
            </div>
            <div class="description">
                {{account.Balance | currency}}
                <span>{{account.Currency}}</span>
            </div>
        </div>
        <div class="extra content">
            <div class="ui two buttons">
                <a ng-href="#/details/{{account.AccountID}}" class="ui basic green button">Manage</a>
            </div>
        </div>
    </div>

    <div class="ui card">
        <div class="content">
            <div class="header">
                New Account
            </div>
            <div class="description">
                Want to create a new account?
            </div>
        </div>
        <div class="extra content">
            <div class="ui two buttons">
                <a class="ui green button" href="#/new/account">New Account</a>
            </div>
        </div>
    </div>

</div>

<div class="ui section divider"></div>

<div class="ui two column stackable grid">
    <div class="column">
        <h2>User</h2>
        <a class="ui fluid black basic button" ng-click="openModal()">Open</a>
    </div>
    <div class="column">

    </div>
</div>

<div class="ui modal" id="newAccount">
    <i class="close icon"></i>
    <div class="header">
        New Account
    </div>
    <div class="content">
        <div class="description">
            <div class="ui header">Account creation coming soon.</div>
            <p>We're working hard on getting everything ready for you</p>
            <p>Coming soon.</p>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui positive right labeled icon button">
            Add Account
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>