<div class="ui two columns stackable grid">
    <div class="ui active centered large inline loader" ng-show="!accounts || !selectedCustomer">
        <div class="ui text loader">Loading Customer</div>
    </div>

    <div class="row" ng-hide="!accounts || !selectedCustomer">
        <div class="column">
            <h2 class="ui header">
                <i class="archive icon"></i>
                <div class="content">
                    Accounts
                    <div class="sub header">A list of accounts</div>
                </div>
            </h2>

            <!--<table class="ui segment single line table" ng-show="accounts.length != 0">-->
            <!--<thead>-->
            <!--<tr>-->
            <!--<th>Name</th>-->
            <!--<th>Type</th>-->
            <!--<th>Balance</th>-->
            <!--<th>Currency</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="account in accounts">-->
            <!--<td>{{account.AccountName}}</td>-->
            <!--<td>{{account.AccountTypeName}}</td>-->
            <!--<td>{{account.Balance | currency}}</td>-->
            <!--<td>{{account.Currency}}</td>-->
            <!--</tr>-->
            <!--</tbody>-->
            <!--</table>-->
            <div class="ui segment">
                <h2 class="ui centered header">
                    <div class="sub header" ng-show="accounts.length == 0">The user has no accounts yet</div>
                </h2>
                <table class="ui very basic celled table" ng-hide="accounts.length == 0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Balance</th>
                        <th>Currency</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="account in accounts">
                        <td>{{account.AccountName}}</td>
                        <td>{{account.AccountTypeName}}</td>
                        <td>{{account.Balance | currency}}</td>
                        <td>{{account.Currency}}</td>
                        <td><a class="ui tiny basic button"
                               ng-click="showDelAccountModal($index)">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="column">
            <h2 class="ui header">
                <i class="settings icon"></i>
                <div class="content">
                    Settings
                    <div class="sub header">Manage preferences</div>
                </div>
            </h2>
            <div class="ui segments">
                <div class="ui segment" ng-class="{loading: loadingCustomer}">
                    <h3 class="header">
                        {{selectedCustomer.UserName}}
                    </h3>
                    <div class="ui two column grid">
                        <div class="row">
                            <div class="column">
                                <h5 class="ui header">
                                    <i class="privacy icon"></i>
                                    <div class="content">
                                        CPR Number
                                        <div class="sub header">{{selectedCustomer.UserID}}</div>
                                    </div>
                                </h5>
                            </div>
                            <div class="column">
                                <h5 class="ui header">
                                    <i class="mail icon"></i>
                                    <div class="content">
                                        Email
                                        <div class="sub header">{{selectedCustomer.Email}}</div>
                                    </div>
                                </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <h5 class="ui header">
                                    <i class="home icon"></i>
                                    <div class="content">
                                        Address
                                        <div class="sub header">
                                            {{selectedCustomer.Address}},
                                            {{selectedCustomer.PostalCode}},
                                            {{selectedCustomer.City}}
                                        </div>
                                    </div>
                                </h5>
                            </div>
                            <div class="column">
                                <h5 class="ui header">
                                    <i class="phone icon"></i>
                                    <div class="content">
                                        Phone
                                        <div class="sub header">{{selectedCustomer.Phone}}</div>
                                    </div>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui thin segment">
                    <div class="ui three buttons">
                        <div class="ui basic green button" ng-click="showEditModal()">Edit Customer</div>
                        <div class="ui basic yellow button" ng-click="showPassModal()">Change Password</div>
                        <div class="ui red button">Delete Customer</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<modal title="Change Password"" approve="formChangePass()" deny="" id="changePassModal" template-url="./views/modals/basic.html">
<form class="ui form" id="changePassForm" validation="changePassValidation" novalidate onsubmit="return false;">
    <div class="field">
        <label>Password</label>
        <input type="password" name="password" ng-model="passForm.password" placeholder="Password...">
    </div>
    <div class="field">
        <label>Repeat password</label>
        <input type="password" name="password_rep" placeholder="Repeat password...">
    </div>
    <div class="ui error message"></div>
</form>
</modal>

<modal title="Edit Customer" approve="formEditUser()" deny="" id="editUserModal"
       template-url="./views/modals/basic.html">
    <form class="ui form" id="editUserForm" name="editUserForm" validation="editFormValidation" novalidate
          onsubmit="return false;">
        <div ng-init="saveEditForm(editUserForm)"></div>
        <div class="two fields">
            <div class="field">
                <label>Name</label>
                <input id="formEditName" type="text" name="name" ng-model="editForm.name" placeholder="Name...">
            </div>
            <div class="disabled field">
                <label>CPR Number</label>
                <input id="formEditCPR" type="number" name="cpr" ng-model="editForm.cpr" placeholder="CPR...">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Address</label>
                <input id="formEditAddress" type="text" name="address" ng-model="editForm.address"
                       placeholder="Address...">
            </div>
            <div class="field">
                <label>Zip Code</label>
                <input id="formEditZip" type="number" name="zip" ng-model="editForm.zip" placeholder="Zip...">
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Email</label>
                <input id="formEditEmail" type="email" name="email" ng-model="editForm.email" placeholder="Email...">
            </div>
            <div class="field">
                <label>Phone Number</label>
                <input id="formEditPhone" type="number" name="phone" ng-model="editForm.phone" placeholder="Phone...">
            </div>
        </div>
    </form>
</modal>

<modal title="Delete Account" approve="deleteAccount()" deny="" id="deleteAccountModal"
       template-url="./views/modals/confirm.html">
    <p>The account will be deleted and all currency will be lost</p>
</modal>


