<!DOCTYPE html>
<html ng-app="bankaroo">
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Bankaroo</title>

    <!-- build:css css/semantic.css -->
    <link rel="stylesheet" href="bower_components/semantic/dist/semantic.min.css">
    <!-- endbuild -->

    <!-- build:css css/bank.css -->
    <link rel="stylesheet" href="css/bank.css">
    <!-- endbuild -->

    <link rel="stylesheet" href="css/index.css">

    <!-- Icons and manifest -->
    <link rel="apple-touch-icon" sizes="57x57" href="./apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="./favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="./android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="./favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="./favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="./manifest.json">
    <link rel="mask-icon" href="./safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Bankaroo">
    <meta name="application-name" content="Bankaroo">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>
<body>
<!-- Sidebar -->
<div class="ui vertical sidebar labeled icon menu left" ng-controller="navbarController">
    <a class="menu item" ng-class="main()" href="#/"><i class="archive icon"></i>Accounts</a>
    <a class="menu item" ng-class="route('/settings')"><i class="settings icon"></i>Settings</a>
    <a class="menu item" ng-class="route('/admin')" href="#/admin" ng-if="isEmployee()"><i class="cubes icon"></i>Administration</a>
</div>

<!-- Page Contents -->
<div class="pusher">
    <div class="ui vertical segment mainmenu" ng-controller="navbarController">
        <div class="ui container">
            <div class="ui large secondary menu">
                <a class="toc item"><i class="sidebar icon"></i></a>
                <a class="menu item" ng-class="main()" href="#/">Accounts</a>
                <a class="menu item" ng-class="route('/settings')">Settings</a>
                <a class="menu item" ng-class="route('/admin')" href="#/admin" ng-if="isEmployee()">Administration</a>
                <div class="right item">
                    <a class="ui button" href="login.html">Log out</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Page content goes here -->
    <div class="ui container main" ng-view></div>

    <div class="ui vertical footer segment">
        <div class="ui container">

        </div>
    </div>
</div>

<!-- Scripts -->
<!-- build:js ./scripts/vendor.js -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/semantic/dist/semantic.min.js"></script>
<!-- endbuild -->

<script src="./scripts/menu.js"></script>

<!-- build:js ./scripts/angular.js -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/angular-jwt/dist/angular-jwt.min.js"></script>
<!-- endbuild -->

<!-- build:js ./scripts/bank.js -->
<script src="app.js"></script>

<script src="scripts/controllers/navbarController.js"></script>
<script src="scripts/controllers/detailsController.js"></script>
<script src="scripts/controllers/loginController.js"></script>
<script src="scripts/controllers/mainController.js"></script>
<script src="scripts/controllers/accountController.js"></script>
<script src="scripts/controllers/adminController.js"></script>
<script src="scripts/controllers/overviewController.js"></script>

<script src="scripts/filters/currencyFilter.js"></script>
<script src="scripts/filters/timeFilter.js"></script>

<script src="scripts/services/apiService.js"></script>
<script src="scripts/services/bankService.js"></script>
<script src="scripts/services/loginService.js"></script>
<script src="scripts/services/adminService.js"></script>

<script src="scripts/directives/modal.js"></script>
<script src="scripts/directives/validator.js"></script>
<script src="scripts/directives/dropdown.js"></script>
<script src="scripts/directives/finish.js"></script>
<!-- endbuild -->

</body>

</html>
